<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBGh9CaJz_B_YxGoYvD96NpTrepLSDfV5E</string>
	<key>GCM_SENDER_ID</key>
	<string>940930660264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rayka.firebasenewapp.firebasenewapp</string>
	<key>PROJECT_ID</key>
	<string>firabaseapp-65cf2</string>
	<key>STORAGE_BUCKET</key>
	<string>firabaseapp-65cf2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940930660264:ios:b4e87b5a18f99dee308f9d</string>
</dict>
</plist>